@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300&family=PT+Sans:ital@1&family=Poppins:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "Inter", sans-serif;
}
header {
  /* background-color: #B3E283; */

  /* background-color: #85EF47; */
  background-color: black;
  color: white;
  height: 9vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 90%;
}
.logo {
  /* top: 5px; */
  /* padding-top: 18px; */
  /* width: 200px; */
  height: 7.55vh;
}
.nav-child {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.current-pg {
  background-color: rgb(255, 199, 56);
  color: black;
  display: flex;
  align-items: center;
}
.current-pg:hover {
  color: blue;
  border: 2px solid lightcyan;
}
.rest-pg {
  display: flex;
  align-items: center;
}
.rest-pg:hover {
  border: 3px solid lightcyan;
  background-color: rgb(255, 199, 56);
}
.rest-pg a {
  text-decoration: none;
  color: white;
}
.rest-pg a:hover {
  color: black;
}
.current-pg a {
  text-decoration: none;
  color: white;
}
.nav-child li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .nav-child {
    display: none;
  }
  nav {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
}
/* HEADER END */
/* HERO START */
.stick {
  position: fixed;
}
.stick-img {
  top: 78vh;
  left: 94vw;
  position: absolute;
  height: 50px;
}
@media screen and (max-width: 1024px) {
  .stick-img {
    top: 85vh;
    left: 90vw;
    height: 25px;

  }
}
.hero {
  background-image: url(./assets/190501-Healthcare.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  margin: auto;
  padding: 30px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-img {
  width: 50%;
  min-width: 280px;
}
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
.hero-qualities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
.quality-service {
  list-style: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  /* animation: myAnim 2s ease 0s 1 normal forwards; */
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}
.quality-service:hover {
  color: green;
}
.quality-img {
  border: 2px solid green;
  padding: 10px;
  border-radius: 50% 50%;
  max-height: 50px;
  max-width: 50px;
  height: 40%;
  width: 50%;
  min-height: 45px;
  min-width: 45px;
}

@media screen and (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .hero-qualities {
    flex: 0 1;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .quality-service {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
}
/* HERO STYLING END */
/* PRODUCT SECTION START */
/* PRODUCT ONE */
.product-adwait {
  padding: 50px 0 50px 0;
}
.product-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  row-gap: 8px;
}
.product-one {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.product-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  row-gap: 10px;
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  /* animation: myAnim 2s ease 0s 1 normal forwards; */
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}
.product-card a {
  text-decoration: none;
  color: black;
}
.product-img {
  width: 80%;
  /* animation: myAnim 2s ease 0s 1 normal forwards; */
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}
.product-card:hover {
  color: green;
  background-color: aliceblue;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
}
/* PRODUCT ONE END  */
/* PRODUCT TWO START */
.adwait {
  visibility: hidden;
  margin: 10px 0 20px 0;
}
.product-two {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.see-more {
  visibility: hidden;
  width: 30%;
  align-self: center;
  border: 3px solid black;
  border-radius: 12px;
  background-color: yellow;
  height: 30px;
  margin: 10px 0 20px 0;
}
.product-two-catalog {
  text-decoration: none;
  color: black;
}
.product-card-hidden:hover {
  color: green;
  background-color: aliceblue;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.75);
}
.product-card-hidden {
  display: flex;
  flex-direction: column;
  margin: 10px;
  row-gap: 10px;
  width: 250px;
  padding: 5px;
  border: 1px inset black;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  color: black;
  animation: myAnim 0.3s ease 0s 1 normal forwards;

  /* animation: myAnim 2s ease 0s 1 normal forwards; */
}
.product-card-hidden a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 650px) {
  .product-section {
    width: 100%;
  }
  .product-one {
    flex-wrap: wrap;
  }
  .product-two {
    width: 100%;
  }
  .product-card {
    flex: 0 0 auto;
    cursor: pointer;
    text-align: center;
    width: 73%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
  }

  .product-card-hidden {
    display: none;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.75);
  }
  .see-more {
    visibility: visible;
  }
}
/* PRODUCT SECTION END HERE */
/* FOOTER START HERE */
.end {
  background-color: black;
}
footer {
  color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  height: 80px;
}
.adi-footer {
  width: 100%;
  align-items: center;
  display: flex;
}
.link-footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.links-footer li {
  list-style: none;
}
.privacy-policy li {
  list-style: none;
}
.footer-contact {
  display: block;
}
@media screen and (max-width: 640px) {
  footer {
    flex-direction: column;
    row-gap: 20px;
    margin: auto;
    width: 100%;
  }
  .footer-logo {
    margin: auto;
    height: 10vh;
  }
  .adi-footer {
    flex-direction: column;
    row-gap: 20px;
  }
  .link-footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .links-footer li {
    list-style: none;
  }
}
/* Animations */
